$pink : #ff61af;
$gray-66 : #666;
$gray-99 : #999;
$gray-aa : #aaa;
$gray-bb : #bbb;
$gray-ee : #eee;
$gray-f5 : #f5f5f5;
$gray-de : #dedede;
$gray-e0 : #e0e0e0;
$violet-01 : #6255f6;
$violet-02 : #6f69f7;
$violet-03 : #9890f6;
$black : #000;
$white : #fff;

@mixin ellipsis($line: 1) {
	@if ($line == 1) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
	}
}
.wrap {
    position: relative;
    width: 100%;
    min-width: 800px;
    height: 100vh;
}
.flex {
    display: flex;
    align-items: center;
    &.center {
        justify-content: center;
    }
    &.start {
        justify-content: start;
    }
    &.end {
        justify-content: end;
    }
    &.between {
        justify-content: space-between;
    }
    &.wrap {
        flex-wrap: wrap;
    }
}
.cf::after {
    display: block;
    content: '';
    clear: both;
}
// 스크롤바
::-webkit-scrollbar{
    width: 6px;
}
::-webkit-scrollbar-thumb{
    height: 17%;
    border-radius: 30px;
    background-color: $gray-e0;
}