$pink : #ff61af;
$gray_66 : #666;
$gray_99 : #999;
$gray_aa : #aaa;
$gray_bb : #bbb;
$gray_ee : #eee;
$gray_f5 : #f5f5f5;
$gray_de : #dedede;
$gray_e0 : #e0e0e0;
$violet_01 : #6255f6;
$violet_02 : #6f69f7;
$violet_03 : #9890f6;
$black : #000;
$white : #fff;

@mixin ellipsis($line: 1) {
	@if ($line == 1) {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	} @else {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-orient: vertical;
		-webkit-line-clamp: $line;
	}
}
.wrap {
    position: relative;
    width: 100%;
    min-width: 800px;
    height: 100vh;
    // 스크롤바
    ::-webkit-scrollbar{
        width: 6px;
    }
    ::-webkit-scrollbar-thumb{
        height: 10%;
        border-radius: 50px;
        background-color: $gray_e0;
    }
}
.flex {
    display: flex;
    align-items: center;
    &.center {
        justify-content: center;
    }
    &.start {
        justify-content: start;
    }
    &.end {
        justify-content: end;
    }
    &.between {
        justify-content: space-between;
    }
}