.popup_back {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: .3);
    z-index: 100;
}
.side_bar {
    display: block;
    position: relative;
    width: 250px;
    height: 100%;
    margin-left: auto;
    background-color: $white;
    // background-color: deepskyblue;
    transition: all ease .5s;
    transform: translateX(250px);
    &.open {
        transform: translateX(0);
    }
    .popup_inner {
        padding: 33px 20px 0;
    }
    .popup_title {
        margin-bottom: 20px;
        font-size: 17px;
        letter-spacing: -.1px;
    }
    .close_btn {
        display: block;
        position: absolute;
        top: 8px;
        right: 10px;
        padding: 10px;
    }
    // 키워드 검색창
    .search {
        width: 210px;
        margin-bottom: 0;
        &.active {
            border-color: $black;
            background-color: $white;
            background-image: url('../images/search_02.png');
        }
    }
    .research {
        position: absolute;
        top: 11px;
        right: 18px;
    }
    .search_text {
        padding-top: 50px;
        color: $gray_99;
        font-size: 14px;
        text-align: center;
        letter-spacing: -.1px;
    }
    .keyword {
        color: $violet_01;
    }
    .talk_list {
        padding-right: 0;
    }
}
// 채팅방 정보 창
.info_popup {
    .popup_title {
        margin-bottom: 40px;
    }
    figure {
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
        border-radius: 50%;
        background-color: $gray_f5;
    }
    .talk_name {
        margin-bottom: 48px;
        font-size: 16px;
        text-align: center;
    }
}
.menu_list {
    > li {
        border-top: 1px solid $gray_e0;
        &:last-child {
            border-bottom: 1px solid $gray_e0;
        }
        a {
            display: block;
            padding: 16px 20px 15px;
            color: $black;
            font-size: 15px;
            text-align: left;
            letter-spacing: -.1px;
            &.dropdown {
                background: url('../images/dropdown-01.png') right 20px top 20px no-repeat;
                transition: all ease .1s;
                &.up {
                    background-image: url('../images/dropup-01.png');
                }
            }
        }
    }
    .inner {
        border-top: 1px solid $gray_e0;
    }
}
.member_list {
    overflow: auto;
    display: none;
    position: relative;
    height: 150px;
    margin-right: 8px;
    padding: 12px 20px;
    li {
        a {
            height: 38px;
            padding: 0;
            line-height: 38px;
            i {
                margin-top: -4px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
        .member_setting {
            position: relative;
            color: $gray_66;
            padding-left: 36px;
            &::before {
                position: absolute;
                content: '';
                width: 26px;
                height: 26px;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 50%;
                background-color: #e2e2e2;
            }
        }
    }
}
// 채팅방 상단 팝업
.talk_popup  {
    display: block;
    position: fixed;
    margin-left: -2px;
    width: calc(100% - 392px);
    border-radius: 6px;
    color: $white;
    font-size: 14px;
}
// 상담 가능시간 팝업
.clock_notcie {
    display: flex;
    align-items: start;
    justify-content: space-between;
    top: 81px;
    padding: 14px 20px;
    z-index: 50;
    box-shadow: 0 6px 8px rgba($color: $black, $alpha: .1);
    .notice_group {
        display: flex;
        align-items: start;
        justify-content: start;
        span {
            margin-left: 8px;
            padding-top: 2px;
        }
    }
    &.dropdown {
        background: $gray_aa url('../images/dropdown-02.png') right 20px top 20px no-repeat;
        &.up {
            background-image: url('../images/dropup-02.png');
        }
    }
    .time_list {
        margin-left: 29px;
        padding-top: 2px;
        .time {
            display: none;
        }
        strong {
            padding-left: 6px;
        }
    }
    ul {
        margin-top: 8px;
        li {
            margin-bottom: 8px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
// 새로운 메세지 팝업
.new_message {
    top: 135px;
    padding: 13px 0;
    letter-spacing: -.1px;
    text-align: center;
    background-color: $pink;
    z-index: 40;
    box-shadow: 0 6px 8px rgba($color: $pink, $alpha: .1);
    span {
        padding-left: 10px;
        opacity: .7;
    }
}