.popup_back {
    display: none;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba($color: $black, $alpha: .3);
    z-index: 100;
}
.side_bar {
    display: block;
    position: relative;
    width: 250px;
    height: 100%;
    margin-left: auto;
    background-color: $white;
    transition: all ease .5s;
    transform: translateX(250px);
    &.open {
        transform: translateX(0);
    }
    .popup_inner {
        padding: 34px 20px 0;
    }
    .popup_title {
        margin-bottom: 20px;
        font-size: 17px;
        letter-spacing: -.1px;
    }
    .close_btn {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        padding: 10px;
    }
    .search_box {
        position: relative;
        .search {
            width: 210px;
            height: 40px;
            padding: 0 20px 0 54px;
            border-radius: 30px;
            border: 1px solid transparent;
            font-size: 14px;
            background: $gray_f5 url('../images/search_01.png') center left 23px no-repeat;
            color: $black;
            &.active {
                border-color: $black;
                background-color: $white;
                background-image: url('../images/search_02.png');
            }
        }
        .research {
            position: absolute;
            top: 10px;
            right: 18px;
        }
    }
    .search_text {
        padding-top: 50px;
        color: $gray_99;
        font-size: 14px;
        text-align: center;
        letter-spacing: -.1px;
    }
    .keyword {
        color: $violet_01;
    }
}
.info_popup {
    figure {
        width: 120px;
        height: 120px;
        margin: 0 auto 20px;
        border-radius: 50%;
        background-color: $gray_f5;
    }
    .talk_name {
        margin-bottom: 50px;
        font-size: 16px;
        text-align: center;
    }
}
.menu_list {
    > li {
        border-top: 1px solid $gray_e0;
        &:last-child {
            border-bottom: 1px solid $gray_e0;
        }
        a {
            display: block;
            padding: 15px 20px;
            color: $black;
            font-size: 15px;
            text-align: left;
            letter-spacing: -.1px;
            &.dropdown {
                background: url('../images/dropdown-01.png') right 20px top 20px no-repeat;
                transition: all ease .1s;
                &.up {
                    background-image: url('../images/dropup-01.png');
                }
            }
        }
    }
}
.member_list {
    display: none;
    padding: 12px 20px;
    border-top: 1px solid $gray_e0;
    li {
        a {
            height: 38px;
            padding: 0;
            line-height: 38px;
            &.member_setting {
                position: relative;
                color: $gray_66;
                padding-left: 36px;
                &::before {
                    position: absolute;
                    content: '';
                    width: 26px;
                    height: 26px;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                    border-radius: 50%;
                    background-color: #e2e2e2;
                }
            }
            i {
                margin-top: -4px;
                margin-right: 10px;
                vertical-align: middle;
            }
        }
    }
}