.sp {display: inline-block; background: url('../images/sprite/sprite.png') no-repeat;vertical-align: middle;
    &.sp_ico_profile {width: 30px; height: 33px; background-position: 0 0;
        &.on{background-position: -100px 0;}}
    &.sp_ico_talk {width: 30px; height: 30px; background-position: -200px 0;
        &.on{background-position: -300px 0;}}
    &.sp_ico_search_02 {width: 24px; height: 24px; background-position: -500px 0;}
    &.sp_ico_setting {width: 30px; height: 30px; background-position: 0 -100px;
        &.on{background-position: -100px -100px;}}
    &.sp_ico_profile_01 {width: 42px; height: 42px; background-position: -200px -100px;}
    &.sp_ico_profile_02 {width: 42px; height: 42px; background-position: -300px -100px;}
    &.sp_ico_profile_03 {width: 26px; height: 26px; background-position: -300px -400px;}
    &.sp_ico_profile_04 {width: 30px; height: 30px; background-position: -200px -400px;}
    &.sp_ico_plus_btn {width: 48px; height: 48px; border-radius: 50%; background-position: -400px -100px; box-shadow: 0px 10px 15px rgba($color: $violet_01, $alpha: .3);}
    &.sp_ico_info {width: 24px; height: 24px; background-position: -500px -100px;}
    &.sp_ico_pin {width: 16px; height: 16px; background-position: 0 -200px;
        &.on{background-position: -100px -200px;}}
    &.sp_ico_alarm {width: 24px; height: 24px; background-position: -200px -200px;
        &.on{width:22px;background-position: -300px -200px;}}
    &.sp_ico_notice {width: 42px; height: 42px; background-position: -400px -200px;}
    &.sp_ico_down {width: 42px; height: 42px; border-radius: 50%; background-position: -500px -200px; box-shadow: 0px 3px 5px rgba($color: $black, $alpha: .1);}
    &.sp_ico_emoticon {width: 20px; height: 20px; background-position: 0 -300px;}
    &.sp_ico_file {width: 19px; height: 20px; background-position: -100px -300px;}
    &.sp_ico_clock {width: 18px; height: 18px; background-position: -200px -300px;}
    &.sp_ico_error {width: 20px; height: 18px; background-position: -300px -300px;}
    &.sp_ico_resend {width: 20px; height: 20px; background-position: -400px -300px;}
    &.sp_ico_research {width: 16px; height: 16px; background-position: -500px -300px;}
    &.sp_ico_close {width: 14px; height: 14px; background-position: 0 -400px;}
    &.sp_ico_submit {width: 20px; height: 20px; background-position: -400px 0;
        &.on {width: 40px; height: 40px; background-position: -100px -400px;}}
    &.sp_ico_clear {width: 16px; height: 16px; background-position: -400px -400px;}
}