.snb_btns {
    position: relative;
    width: 62px;
    height: 100vh;
    padding: 37px 16px 20px;
    background-color: $violet_01;
    a {
        display: block;
    }
    .list_btn {
        margin-top: 39px;
        &:first-child {
            margin-top: 0;
        }
    }
    .setting_btn {
        position: absolute;
        bottom: 20px;
    }
}
.talk_snb {
    position: relative; 
    width: 300px;
    height: 100vh;
    padding: 20px 10px 17px 15px;
    border-right: 1px solid $gray_de;
    .list_title {
        margin-bottom: 11px;
        font-size: 17px;
        letter-spacing: -.1px;
    }
    select {
        margin-bottom: 17px;
        padding-right: 20px;
        color: $gray_66;
        font-size: 15px;
        appearance: none;
        background: url('../images/dropdown-01.png') center right 2px no-repeat;
        option {
            font-size: 15px;
        }
    }
    .search_box {
        width: 100%;
        height: 40px;
        padding: 10px 22px;
        margin-bottom: 30px;
        border-radius: 30px;
        background-color: $gray_f5;
        a {
            margin-right: 14px;
        }
        .search {
            width: calc(100% - 34px);
            font-size: 14px;
            background-color: transparent;
            &::placeholder {
                font-size: 14px;
            }
        }
    }
    .plus_btn {
        display: block;
        position: absolute;
        right: 20px;
        bottom: 20px;
    }
}
.talk_list  {
    overflow: auto;
    max-height: calc(100% - 135px);
    padding-right: 10px;
}
.talk_group {
    position: relative;
    display: flex;
    justify-content: start;
    align-items: start;
    color: $black;
    margin-bottom: 30px;
    &:last-child {
        margin-bottom: 0;
    }
    figure {
        width: 42px;
        height: 42px;
        margin-right: 12px;
    }
    .text_box {
        width: 155px;
        text-align: left;
        letter-spacing: -.1px;
        .title_box {
            .talk_title {
                overflow: hidden;
                white-space: nowrap;
                max-width: 155px;
                height: 15px;
                font-size: 15px;
                letter-spacing: -.3px;
            }
            .member {
                color: $gray_bb;
                font-size: 13px;
                margin-left: 5px;
            }
        }
        .talk_text {
            overflow: hidden;
            max-height: 40px;
            margin-top: 10px;
            color: $gray_66;
            font-size: 13px;
            line-height: 20px;
        }
    }
    .time {
        position: absolute;
        top: 0;
        right: 0;
        color: $gray_bb;
        font-size: 13px;
        letter-spacing: -.1px;
    }
    .talk_alarm {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px 9px;
        border-radius: 50px;
        color: $white;
        font-size: 12px;
        background-color: $pink;
    }
}
.talk_area {
    flex-wrap: wrap;
    align-self: start;
    width: calc(100% - 362px);
    min-width: 440px;
    padding-right: 8px;
    .talk_header {
        position: fixed;
        width: calc(100% - 362px);
        top: 0;
        padding: 20px 20px 20px 15px;
        background-color: $white;
        z-index: 100;
        .talk_title {
            font-size: 17px;
        }
        .member {
            margin-left: 10px;
            font-size: 12px;
            color: $gray_99;
        }
        .pin_btn {
            margin-left: 13px;
        }
        .btn_group {
            a {
                display: inline-block;
                margin-left: 15px;
                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}
.talk_body {
    position: relative;
    overflow: auto;
    width: 100%;
    height: calc(100vh - 191px);
    margin-top: 85px;
    padding: 35px 16px 10px;
    .speech_bubble {
        align-items: end;
        .type_01, .type_02 {
            display: inline-block;
            padding: 8px 15px 8px;
            font-size: 13px;
            line-height: 18px;
            letter-spacing: -.1px;
        }
        .left {
            margin-left: 56px;
            color: $black;
            background-color: $gray_ee;
            &.type_01 {
                margin-top: 24px;
                border-radius: 0 20px 20px 20px;
            }
        }
        .right {
            color: $white;
            text-align: right;
            background-color: $violet_02;
            &.type_01 {
                border-radius: 20px 0 20px 20px;
            }
        }
        .type_02 {
            margin-top: 6px;
            border-radius: 20px;
        }
        .etc {
            height: 33px;
            span {
                display: block;
                font-size: 12px;
                letter-spacing: -.1px;
                &.reading_num {
                    color: $violet_02;
                    padding: 4px 0;
                }
                &.time {
                    color: $gray_bb;
                    padding-bottom: 2px;
                }
            }
            a {
                display: block;
                padding-top: 7px;
            }
        }
    }
    .talk_left {
        position: relative;
        margin-top: 20px;
        .speech_bubble {
            display: flex;
            justify-content: start;
        }
        figure {
            display: inline-block;
            position: absolute;
            margin-right: 10px;
        }
        .user_name {
            position: absolute;
            top: 5px;
            left: 56px;
            color: $gray_99;
            font-size: 13px;
        }
        .etc {
            margin-left: 10px;
            text-align-last: left;
        }
    }
    .talk_right {
        position: relative;
        margin-top: 20px;
        .speech_bubble {
            display: flex;
            justify-content: end;
        }
        .type_01 {
            text-align-last: right;
        }
        .etc {
            margin-right: 10px;
            text-align-last: right;
        }
    }
    .date {
        margin: 25px 0 20px;
        display: block;
        height: 28px;
        text-align: center;
        span {
            display: inline-block;
            padding: 0 15px;
            border-radius: 50px;
            color: $gray_99;
            font-size: 13px;
            line-height: 28px;
            background-color: $gray_f5;
        }
    }
    .alarm_text {
        text-align: center;
        font-size: 13px;
        color: $gray_99;
        p {
            margin-bottom: 15px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
    .down_btn {
        display: none;
        position: fixed;
        right: 25px;
        bottom: 132px;
    }
}
.talk_popup  {
    display: block;
    position: fixed;
    width: calc(100% - 392px);
    border-radius: 6px;
    color: $white;
    font-size: 14px;
    &.clock_notcie {
        display: flex;
        align-items: start;
        justify-content: space-between;
        top: 85px;
        padding: 14px 20px;
        z-index: 50;
        box-shadow: 0 6px 8px rgba($color: $black, $alpha: .1);
        .notice_group {
            align-items: start;
            span {
                margin-left: 10px;
                padding-top: 2px;
            }
        }
        .time_list {
            margin-left: 30px;
            padding-top: 3px;
            .time {
                display: none;
            }
            ul {
                margin-top: 10px;
                li {
                    margin-bottom: 10px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &.dropdown {
            background: $gray_aa url('../images/dropdown-02.png') right 20px top 20px no-repeat;
            &.up {
                background-image: url('../images/dropup-02.png');
            }
        }
    }
    &.new_message {
        top: 140px;
        padding: 14+px 0;
        letter-spacing: -.1px;
        text-align: center;
        background-color: $pink;
        z-index: 40;
        box-shadow: 0 6px 8px rgba($color: $pink, $alpha: .1);
        span {
            padding-left: 10px;
            opacity: .7;
        }
    }
}
.text_arer {
    position: absolute;
    width: calc(100% - 362px);
    min-height: 100px;
    padding: 17px 15px;
    bottom: 0;
    border-top: 1px solid $gray_de;
    background-color: $white;
    textarea {
        overflow: auto;
        width: calc(100% - 145px);
        height: 70px;
        padding: 0;
        border: 0;
        font-size: 14px;
        resize: none;
        &::placeholder {
            color: $gray_99;
        }
        &:disabled {
            background-color: $white;
        }
    }
    .btn_group {
        align-self: end;
        width: 120px;
        margin-left: 25px;
        a {
            display: block;
        }
    }
}